databases:
  - name: botnube
    databaseName: botnube
    user: botnube
services:
 - type: pserv
   name: pgbouncer
   env: docker
   plan: standard
   repo: https://github.com/render-oss/docker-pgbouncer
   envVars:
   - key: DATABASE_URL
     fromDatabase: postgres://jorgr:22SpANSgqt90n99P425JTmdEmePKaNvU@dpg-cf31gh2rrk0bppctltbg-a/botnube

       name: botnube
       property: connectionString
   - key: POOL_MODE
     value: transaction
   - key: SERVER_RESET_QUERY
     value: DISCARD ALL
   - key: MAX_CLIENT_CONN
     value: 500
   - key: DEFAULT_POOL_SIZE
     value: 50

